script(src= "../static/javascripts/slick/slick.min.js")
script(src= "../static/javascripts/chartist/chartist.min.js")
script(src= "../static/javascripts/charts.js")
script(src= "../static/javascripts/movie-page.js")
