extends layout

block content

  .movies
    for val, index in images
      .movie-container
        .carousel
          .carousel-item
            img(src = images[index][0])
          .carousel-item
            img(src = images[index][1])
          .carousel-item
            img(src = images[index][2])
          .carousel-item
            img(src = images[index][3])

        .description
          h1 #{movieInfo[index].Title}
          p #{movieInfo[index].Plot}

  h2 Ratings
  .container
    .chart
    #movieNames
      for val, index in movieInfo
        p #{movieInfo[index].Title}
  #legend
    p <strong>M</strong>etaScore
    p <strong>I</strong>mdb
    p.tomatoes Rotten<strong> T</strong>omatoes
    #rotten-tomatoes
      p.critic Critic
      p.user User

  form(action = '/movies/' method= 'POST')
    input.search(type='text' placeholder="Search for movies by title." 
    name ='titleName')

  include ../partials/_footer.jade
  script(type='text/javascript') var movieInfo =!{JSON.stringify(movieInfo)}; 
  include ../partials/_movie.jade