extends layout

block content

  form(action = '/movies/' method= 'POST')
    input.search(type='text' placeholder="Search for movies by title." 
    name ='titleName')
    input.button(type='submit')
