extends layout

block content
  .container-fluid
    img.background(src= movieInfo.Image)

  h1 #{movieInfo.Title}
  p #{movieInfo.Plot}


  form(action = '/movies/' method= 'POST')
    input.search(type='text' placeholder="Search for movies by title." 
    name ='titleName')
    input.button(type='submit')