extends layout

block content

  .error
    h1 #{title} not found!
    
  form(action = '/movies/' method= 'POST')
    input.search(type='text' placeholder="Search for movies by title." 
    name ='titleName')
    input.button(type='submit')
