body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/* Navigation bar */

.nav-bar{
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  background-color: #FFFFFF;
}

.nav-bar li{
  font-size: 1.25em;
  padding: 5px;
}

.nav-bar li a{
  padding: 10px;
  text-decoration: none;
}

/* Media Queries */
@media(min-width: 25em){
  .nav-bar{
    flex-direction: row-reverse;
    transition: 1s;
  }

  .left{
    margin-right: auto;
    margin-left: 10px;
  }
}