/* Search  */

.search{
  width: 80%;
  margin: 15px 10%;
  color: black;
  font-size: 1.5em;
  text-align: center;
}

::-webkit-input-placeholder{
  color: black;
  height: 100%;
}

/* Main Content  */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1{
  margin:0;
  font-weight: 400;
}


h2{
  text-align: center;
}

.movies{
  display: flex;
  flex-wrap: wrap;
}

.movie-container{
  width: 100%;
}

.error{
  text-align: center;
  background-color: #ff6666;
  padding: 10px;
}

.help{
  text-align: center;
  padding: 2px 15px;
  font-size: 1.5em;
}

#title{
  text-align: center;
  margin: 35px;
  font-size: 3.5em;
}

.coloured,
.coloured a{
  /* a tag is necessary to override text color when link has been clicked */
  color: #89bdd3;
}
/* Carousel  */
.background{
  width:100%;
}

.carousel{
  width: 100%;
  height: 40vh;
  overflow: hidden;
  padding: 0;
  position:relative;
}

.carousel-item img{
  width: 100%;  
}

.slick-dots{
  bottom: 20px;
}

.slick-dots li button::before{
  font-size: 25px;
} 


/* Graph */

.container{
  width: 100%;
}

.description{
  text-align: center;
  margin: 10px;
}

.ct-series .ct-bar{
  transition: 1s;
}

.ct-label{
  font-size: 1em;
}

#movieNames{
  display: flex;
  width: 100%;
  justify-content: space-around;
  text-align: center;
}

#legend{
  position:relative;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}


#legend p,
#rotten-tomatoes p{
  width: 20%;
  padding-top: 5px;
}

.user,
.critic{
  border-radius: 5px;
}
.user{
  border: 2px solid blue;
}

.critic{
  border: 2px solid #00C957;
}

.tomatoes{
  padding: 5px;
  padding-top: 0;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 5px;
}

#rotten-tomatoes{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15px;
}


/* Media Queries  */

@media(min-width: 50em){
  .container{
    display: flex;
  }

  .help,
  .search{
    font-size: 2em;
  }

  .carousel{
    width: 100%;
  }
  #movieNames{
    width: 18%;
    flex-direction: column;
  }
  .chart{
    width: 80%;
    margin-left: 10px;
  }
  .carousel{
    height: 85vh;
  }
  #legend{
    display:none;
  }

}