/* Search  */

input[type='submit']{
  font-size: 1.5em;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 10px;
  display: block;
  margin: 0px auto 10px auto;
}

.search{
  width: 80%;
  margin: 15px 10%;
  color: black;
  font-size: 2em;
  text-align: center;
}

::-webkit-input-placeholder{
  color: black;
  height: 100%;
}

/* Main Content  */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a {
  color: #00B7FF;
}

h1{
  margin:0;
  font-weight: 400;
}

h2{
  text-align: center;
}


/* Carousel  */
.background{
  width:100%;
}

.carousel{
  width: 100%;
  height: 40vh;
  overflow: hidden;
  padding: 0;
  position:relative;
}

.carousel-item img{
  width: 100%;  
}

.slick-dots{
  bottom: 20px;
}

.slick-dots li button::before{
  font-size: 25px;
} 


/* Graph */

.description{
  text-align: center;
}

.ct-series-a .ct-bar{
  stroke: blue;
  stroke-width: 15px;
  transition: 1s;
}

.ct-label{
  font-size: 1em;
}

#legend{
  position:relative;
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}


#legend p,
#rotten-tomatoes p{
  width: 20%;
  padding-top: 5px;
}

.user,
.critic{
  border-radius: 5px;
}
.user{
  border: 2px solid crimson;
}

.critic{
  border: 2px solid #00C957;
}

.tomatoes{
  padding: 5px;
  padding-top: 0;
  text-decoration: underline;
  border: 1px solid black;
  border-radius: 5px;
}

#rotten-tomatoes{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15px;
}


/* Media Queries  */

@media(min-width: 35em){
  .carousel{
    height: 60vh;    
  }
}

@media(min-width: 50em){
  .carousel{
    height: 85vh;
  }
  #legend{
    display:none;
  }

}